<article class="post">
  <p>Hello there, {{userName}}! Here are your posts!</p>

    {{#each posts as |post| }}
        {{> post-data post}}
 <button class="btn"><a href="/updatepost/{{post.id}}">Update this post</a></button>
    {{/each}}

</article>